* {
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}
.container .section {
  position: relative;
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  background-blend-mode: multiply;
}
.title h1 {
  text-align: center;
  font-family: "Nothing You Could Do", cursive;
}
/* hamburger */
.nav {
  position: fixed;
  background: black;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translate(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}
.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Nothing You Could Do", cursive;
  font-size: 1.8rem;
}
.nav__link {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}
.nav__link:hover {
  color: yellow;
}
.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}
.nav-open .nav {
  transform: translate(0);
}
.nav-open .nav-toggle {
  position: fixed;
}
.nav-open .hamburger {
  transform: rotate(0.625turn);
}
.nav-open .hamburger::after {
  opacity: 0;
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translate(-6px);
}

.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: white;
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

h2 {
  font-family: "Nothing You Could Do", cursive;
}
.contacts {
  font-family: "Nothing You Could Do", cursive;
}
.container .section:nth-child(1) {
  background-size: cover;
  background-attachment: fixed;
  background: rgb(125, 129, 126) url("../assets/bw.jpeg");
}
.container .section:nth-child(2) {
  background-size: cover;
  background-attachment: fixed;
  background: rgb(125, 129, 126) url("../assets/people.webp");
}
.container .section:nth-child(3) {
  background-size: cover;
  background-attachment: fixed;
  background: rgb(153, 157, 160) url("../assets/krug.jpeg");
}
.container .section:nth-child(4) {
  background-size: cover;
  background-attachment: fixed;
  background: rgb(89, 92, 94) url("../assets/pexels-photo-2833786.jpeg");
}
.container .section:nth-child(5) {
  background-size: cover;
  background-attachment: fixed;
  background: rgb(153, 157, 160) url("../assets/bww.jpeg");
}
.container .section .content {
  position: absolute;
  bottom: 40px;
  left: 50px;
  max-width: 600px;
}

.container .section .content h2 {
  background: #fff;
  color: #111;
  font-weight: 600;
  padding: 10px 20px;
  font-size: 1.9em;
  display: inline-block;
}
.container .section .content p {
  background: #fff;
  color: #111;
  font-weight: 300;
  padding: 10px 20px;
  font-size: 1.4em;
  margin-top: 10px;
}
/* Trigger*/
.animate {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* Delays*/
.title {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 1s;
  color: #fff;
}

.those {
  opacity: 0;
}

.js-scroll {
  opacity: 1;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in {
  animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.slide-left {
  animation: slide-in-left 1s ease-in-out both;
}

.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
}
.those .two {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* FADE IN UP */
@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* FADE IN LEFT */

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
/* FADE IN RIGHT */
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

/* button */
.button {
  border-radius: none;
  border: 1px dashed white;
  background-color: transparent;
  padding: 10px;
  margin-top: 20px;
  box-shadow: inset 0 0 0 0 rgb(238, 241, 31);
  transition: ease-out 0.7s;
}
.button a {
  color: white;
  text-decoration: none;
}
.button:hover {
  background-color: rgb(238, 241, 31);
  border: 1px dashed rgb(10, 10, 10);
  color: black;
  box-shadow: inset 200px 0 0 0 rgb(238, 241, 31);
}
.button:hover a {
  color: black;
}
